---
const { title, description } = Astro.props;
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
<p class="">
<a href="mailto:iulianaahrens@gmail.com">iulianaahrens @ gmail.com</a></br>
<a href="https://wa.me/34626398896?text=I'm%20interested%20in%20your%20painting">WhatsApp</a></br>
<a href="tel:+34626398896">+34 626 398 896</a>
</p>
      </section>
      <p class="copyright">
        &copy; iuliana
      </p>
    </div>
    <div>
      <section>
        <p>Hello, my name is Iuliana.<br/>
I'm a February Child, born 1976 in Sibiu, Romania. I have a Veterinary assistant degree. Since 2003, my husband and I live in three places: Spain, Germany and Romania.</p>
        <p>In 2009 I met Willi Mayerhofer in C&ocirc;te d'Azur. His paintings and his words motivated me to start to paint. So, I let my creativity flow, being inspired from the sunlight of Mallorca &ndash; <em>("La Isla de la Luz")</em> a light, that makes the colours more intensive as in any other place.</p>
        <p>What started as a hobby, it is now a Passion. Step by step I explore the world of abstract painting, trying different techniques, having a lot of joy and relaxation. It's a beautiful world, full of colours, free and without boundaries. It's my Infinity.</p>
      </section>
    </div>
</div>
</footer>
