---
const { title, description } = Astro.props;
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
<p class="">
<a href="mailto:iulianaahrens@gmail.com">iulianaahrens @ gmail.com</a></br>
<a href="https://wa.me/34626398896?text=I'm%20interested%20in%20your%20painting">WhatsApp</a></br>
<a href="tel:+34626398896">+34 626 398 896</a>
</p>
      </section>
      <p class="copyright">
        &copy; iuliana
      </p>
    </div>

</div>
</footer>
